@import '../variaveis/variaveis';

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 170px;
    background-color: #00D7FF;
    border-radius: 20px;
    margin: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}
