@import '../variaveis/_variaveis.scss';

header {
    height: 200px;
    text-align: center;
    color: #FDFDFD;
    h1 {
        font-size: 75px;
        padding-top: 3rem;
        text-decoration: underline;
    }
}
