@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import './variaveis/_variaveis.scss';
@import './cabecalho/_cabecalho.scss';
@import './menu/menu';
@import './card/card';

body {
    font-family: $estilo-fonte;
    background-image: url(../img/bg-cyber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
}
